@import "~bootstrap/scss/bootstrap.scss";

body {background: rgb(203,26,104);
      background: linear-gradient(90deg, rgba(203,26,104,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
}

.jumbotron {
    background: none
}

.navBar {
    background: none
}